.div-display {
	display: flex;
}

.child-display {
	flex: 1;
	height: 500px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.parent-display {
	flex: 1;
	height: 500px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.div-space {
	width: 10px;
}
